device = 1 : ttyUSB0
device = 2 : ttyUSB1
device = 3 : ttyS0
alias = PDC : 1
alias = SHG : 2
alias = test : 3
pidfile_dir = /var/run
socket_dir = /var/run
socket_timeout = 1
serial_timeout = 0.5
discard_invalid = false
min_unit_address = 1
max_unit_address = 3
unit_address = 1
plot_interval = 2
temp_step = 10
start_temp = 30
stop_temp = 65
response_samples = 10
temp_error = 0.5
response_timeout = 300
